<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
	<link rel="icon" href="assets/img/favicon-64x64.png" type="image/png">
	<link href="assets/css/surface_styles.css" rel="stylesheet">
	<link href="assets/css/monokai_sublime.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<input type="checkbox" id="nav--super-vertical-responsive">
	<label for="nav--super-vertical-responsive">MENU</label>
	<aside class="nav--super-vertical g--2 g-m--3 g-s--6 g-t--12 no-margin-vertical">
		<div class="g--12 logo-area no-margin-vertical">
			<h4 class="color--pink no-margin-vertical">Surface</h5>
		</div>
		<nav class="g--12 no-margin-vertical">
			<a href="/getting-started.html">Getting Started</a>
			<div class="nav-collapsible">
				<input type="checkbox" id="nav-collapsible-1">
				<label for="nav-collapsible-1">Components</label>
				<div class="nav-collapsible-links">
					<a href="/docs/alerts.html">Alerts</a>
					<a href="/docs/animations.html">Animations</a>
					<a href="/docs/buttons.html">Buttons</a>
					<a href="/docs/cards-tiles.html">Cards &amp; Tiles</a>
					<a href="/docs/collapsibles.html">Collapsibles</a>
					<a href="/docs/colors.html">Colors</a>
					<a href="/docs/footer.html">Footer</a>
					<a href="/docs/forms.html">Forms</a>
					<a href="/docs/grid.html">Grid</a>
					<a href="/docs/header.html">Header</a>
					<a href="/docs/lightbox.html">Lightbox</a>
					<a href="/docs/links.html">Links</a>
					<a href="/docs/media.html">Media</a>
					<a href="/docs/modals.html">Modals</a>
					<a href="/docs/navigation.html">Navigation</a>
					<a href="/docs/tables.html">Tables</a>
					<a href="/docs/tabs.html">Tabs</a>
					<a href="/docs/tooltips.html">Tooltips</a>
					<a href="/docs/typography.html">Typography</a>
					<a href="/docs/utility.html">Utility</a>
				</div>
			</div>
			<a href="/about.html">About</a>
		</nav>
	</aside>
	<main class="g--10 g-m--12 m--2 m-m--0 no-margin-vertical">
		<header class="container--wrap">
			<h1 class="m--1 g--4 g-s--12">Surface</h1>
		</header>
		<div class="g--10 m--1">
			<h2 class="fade-in-from-top color--pink">The framework you've been waiting for</h2>
        <div class="container" id="orders">
          <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Submit an Order</h4>
                </div>
                <div class="panel-body center-block">
                    <div class="form-group">
                        <input class="form-control" placeholder="Title of the product" v-model="order.attributes.product_title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description of the product" v-model="order.attributes.product_description"></textarea>
                    </div>
                    <button class="btn btn-primary center-block" v-on:click="postOrder">Submit</button>
                </div>
             </div>
        </div>

        <div class="col-sm-6">
          <div class="list-group">
             <div class="list-group-item" v-for="order in orders">
               <div class="btn-group pull-right" role="group">
						     <span class="dropdown pull-right">
                   <button class="btn btn-xs dropdown-toggle" type="button" id="dropdown{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                       <i class="glyphicon glyphicon-cog"></i>
                   </button>
                   <ul class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                       <li><a href="#" v-on:click="deleteOrder($index)"><i class="glyphicon glyphicon-pencil"></i> Edit</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#" v-on:click="deleteOrder($index)"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                   </ul>
                 </span>
                 <h4 class="list-group-item-heading">{{ order.attributes.product_title }} INDEX({{ $index }})</h4>
                 <p class="list-group-item-text">{{ order.attributes.product_description }}</p>
                 <button class="btn btn-xs btn-primary" v-on:click="deleteOrder($index)"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                 <button class="btn btn-xs btn-danger" v-on:click="deleteOrder($index)">Delete</button>
               </div>
             </div>
           </div>
         </div>
    </div>
    </div>

		<div class="g--10 m--1 container container--wrap--s">
			<div class="g--4 g-s--12 fade-in-from-top card anim-delay--5">
				<h3>Material Design</h3>
				<p>Design philosophy and aesthetics inspired by <a href="http://www.google.co.uk/design/spec/material-design/introduction.html">Google's Material Design</a>.</p>
			</div>
			<div class="g--4 g-s--12 fade-in-from-top anim-delay--10 card nudge--left nudge--right no-nudge--s">
				<h3>Super Lightweight</h3>
				<p>One file. 5.7kb minified and Gzipped.</p>
			</div>
			<div class="g--4 g-s--12 fade-in-from-top anim-delay--15 card">
				<h3>CSS Only</h3>
				<p>100% CSS only. Absolutely zero Javascript.</p>
			</div>
		</div>
		<div class="g--10 m--1 fade-in-from-left anim-delay--20">
			<h5>Browser Support</h5>
			<p>Works back to IE10 and Safari 6.1. Will work on the majority of Firefox, Chrome and Opera builds.</p>
		</div>
		<div class="g--10 m--1 fade-in-from-left anim-delay--25">
			<button class="btn--raised nudge--right">Download CSS</button>
			<button class="btn--raised btn--primary">Download SCSS</button>
		</div>
	</main>
</body>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/js/vue-resource.min.js"></script>
  <script src="assets/js/app.js"></script>
</hmtl>
