<html>
	<head>
		<title>Admin</title>
		<link href="/public/admin.css" rel="stylesheet">
	</head>
	<body>
		<header><div class="container">Admin</div></header>
		<div class="container">
			<h2>Messages</h2>
			<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Title</th>
				<th>Body</th>
				<th>Action</th>
			</tr>
			{{if .messages}}
				{{range .messages}}
					<tr>
						<td>{{.Name}}</td>
						<td>{{.Email}}</td>
						<td>{{.Subject}}</td>
						<td>{{.Body}}</td>
            <td><a href="/admin/messages/{{.Id}}/rm">Delete</a></td>
					</tr>
				{{end}}
			{{else}}
				<tr>
					<td colspan=3>You currently have no messages.</td>
				</tr>
			{{end}}
			</table>
		</div>
	</body>
</html>
